<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<body>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>


    <header>
      <div class="container">
        <h1 class="logo">MDE Calculator</h1>

      </div>
    </header>
    <div class="container">

    </div>


<h3>
    Minimum detectable effect (MDE) is a calculation that estimates the smallest improvement you’re willing to
    be able to detect. It determines how "sensitive" an experiment is.
</h3>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
     equationNumbers: {  autoNumber: "AMS"  },
     extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
  }
});
</script>
<script type="text/javascript"
 src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

$$
MDE_\% = (t_{\alpha/2} + t_{\beta}) \frac{ \sqrt{\frac{2{\sigma}^2}{n}} }{\mu}
$$

<div class="flex-container">
  <div class="first">
      <p>Determine equation parameters: </p>
      <form method=post action="">
        <table>
          {% for field in form %}
            <tr>
            <td>{{ field.name }}</td><td>{{ field }}</td>
            <td>{{ field.label }}</td>
            {% if field.errors %}
              <td><ul class=errors>
              {% for error in field.errors %}
                <li><font color="red">{{ error }}</font></li>
              {% endfor %}</ul></td>
            {% endif %}
            </tr>
          {% endfor %}


        </table>
  </div>

  <div class="second">
      <img src="/static/images/mde_explained.png" alt="mde explained" width="400" height="350">
  </div>

</div>


<p><input type=submit value=Compute></form></p>

<p>
{% if Mde_c != None %}
    <p>
        <b>
            MDE is: {{ Mde_c }} %
        </b>
    </p>
<!--    <img src="/static/images/new_plot.png" alt="my plot">-->
<!--    <img src="data:image/png;base64,{{ result }}"\>-->
{% endif %}
</p>



<!--<p>To calculate MDE you should upload csv file with three columns: unique id | metric value | test group </p> -->



<!--<p>MDE is: {{ MDE }}</p> -->

<hr>
<ul>
    <li><a href="#">Home Page </a>  </li>
    <li><a href="#">About Page </a>  </li>
</ul>
</body>

</html>

